/* Estilos Generales */

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.box p, .box h2, .box h3 .box ul{
    margin-top: 5px;
    margin-bottom: 5px;
}

.box ul, .box ol{
    margin-left: 20px;
    margin-bottom: 10px;
}

.clearfix{
    clear: both;
    float: none;
}

body{
    background-color: #f2f2f2;
}



/*Estilos a la cabecera*/

header{
    width: 1212px;
    height: 140px;
    background-color: #23282b;
    margin: 0px auto;
}

#logotipo{
    width: 45%;
    height: 130px;
    margin: 0 auto;
    padding-top: 10;
    

}

#logotipo img{
    display: block;
    width: 60px;
    float: left;
    margin-top: 20px;


}

#logotipo h1{
    display: block;
    float: left;
    margin-top: 35px;
    margin-left: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: lighter;
    color: #2ba977;

}

/* Estilos Barra de Navegacion */

nav{
    width: 1250px;
    height: 40px;
    margin: 0 auto;
    background-color: #1b1e1f;
    border: 1px solid #333333;
    box-shadow: 0px 22px 22px gray;
    font-size: 15px;
    
}

nav > ul{
    list-style: none;
    text-decoration: none;
}

nav > ul > li{
    line-height: 40px;
    float: left;

}

nav > ul > li > a{
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    color: #d1d4d6;
}

nav > ul > li > a:hover{
    background:#2ba9;
    box-shadow: 0px 0px 5px #444 inset;
    color: white;
    transition: all 300ms;
}

nav > ul > li > ul{
    display: none;
    position: absolute;
    color: white;
    text-align: left;
    width: 160px;
    box-shadow: 0px 2px 2px gray;
}

nav > ul > li:hover > ul{
    display: block;
    color: white;
    margin: 0px;
    list-style: none;
}

nav > ul > li:hover > ul > li{
    background-color: #f2f1f0;
    border-bottom: 1px solid #d6d6d6;
    padding: 8px;
    line-height: 25px;
    font-size: 13px;
    transition: all 300ms;        
}

nav > ul > li:hover > ul > li a{
    color: #666;
    transition: all 300ms; 
}

nav > ul > li:hover > ul > li:hover {
    background-color: #2ba977;
}

nav > ul > li:hover > ul > li:hover a{
    display: block;
    color: white;
}

.barra{
    width: 1250px;
    margin: 0 auto;
}

.esquina-izquierda{
    display: block;
    border-left: 20px solid transparent;
    border-top: 10px solid #2b2f30;
    float: left;

}


.esquina-derecha{
    display: block;
    border-right: 20px solid transparent;
    border-top: 10px solid #2b2f30;
    float: right;

}

.relleno-barra{
    display: block;
    width: 1210px;
    background-color: #2b2f30;
    height: 10px;
    float: left;
}


/*Estilos Contenido Central*/

#content{
    width: 1212px;
    min-height: 930px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 50px;


}

.box{
    background-color: white;
    width: 95%;
    min-height: 935px;
    padding: 20px;
    border: solid #ddd;
    border-radius: 2px;
    margin: 0 auto;

}

.box .image{
    width: 45%;
    float: left;
    margin-right: 40px;

}

.box .image img {
    width: 100%;
}

.box a{
    color: #444;
    transition: all 300ms;

}

.box a:hover{
    color: #1f7e58;
}

.box form{
    width: 40%;
}

.box form input,
.box form label{
    display: block;
    padding: 5px;
    padding-left: 0px;
}

.box form input[type="text"],
.box form textarea, 
.box form select{
    width: 100%;
    margin-bottom: 10px;
}

.box form select{
    width: 100px;
    padding: 5px;
}

.box form input[type="submit"],
.box form input[type="button"],
.box form button{
    padding: 10px;
    margin-top: 5px;
    background: #2ba977;
    border: 1px solid #444;
    color: white;
    transition: 300ms all;

}

.rojo{
    color: red;
    box-shadow: 0px 0px 4px black ;
}

.message{
    padding: 20px;
    background-color: #2ba977;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.box form input[type="submit"]:hover,
.box form input[type="button"]:hover,
.box form button:hover{
    cursor: pointer;
    background-color: #0c5e3d;
   

}

.title{
    color: #444;
    letter-spacing: 1px;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 5px;

}

.date{
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    color: gray;

}

.content{
    line-height: 25px;
}

.article-item{
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
    border-bottom: 1px solid #eee;
    padding: 15px;
    clear: both;

}

.article-item .image{
    display: block;
    width: 200px;
    height: 200px;    
    float: left;
    overflow: hidden;

}

.article-item .image img{
    display: block;
    height: 200px;

}

.article-item .data{
    display: block;
    float: left;
    padding: 15px;
    padding-top: 0px;
}

.article-item h2{
    display: block;
    font-size: 30px;
    color: #333;
    margin-bottom: 10px;

}

.article-item span.date{
    display: block;
    font-size: 15px;
    color: gray;
    margin-bottom: 10px;
}

.btn{
    padding: 10px;
    background-color: rgb(223, 96, 96);
    color: white;
    border: 1px solid black;
    display: block;
    margin-top: 20px;
    width: 100px;
    text-align: center;

}

footer{
    width: 1250px;
    background-color: #1b1e1f;
    border: 1px solid #333;
    color: #d1d4d6;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 20px gray;
}