{%extends 'layouts/layout.html' %}

{% block title %}{{title}}{%endblock%}

{% block content %}
    <h1 class="title">{{title}}</h1>

     {%for article in articles%}
        <article class="article-item">
            {% if article.image != 'null' and article.image.url|length >= 1 %}
                <div class="image>"
                    <img src = "{{article.image.url}}"
                </div>
            {% endif %}

            <div class="data">

                <h2> {{article.title}}</h2>
                <span class="date">{{article.created_at}}</span>
                <p>
                    {{article.content}}
                  
                </p>
            </div>
            <div class="clearfix"></div> 
        </article>
        

        {% endfor %}
    
{%endblock%}
