{% extends 'layout.html' %}

{% block title %} Listado de Articulos {% endblock %}

{% block content%}

<h1 class="title">Listado de Articulos</h1>

    <ul>
        {%for articulo in articulos%}
        <li>
            <h4>{{articulo.id}}.{{articulo.title}}</h4>
            <span>{{articulo.created_at}}</span>
            <p>
                {{articulo.content}}
                <a href="{% url 'borrar' id=articulo.id%}">Eliminar</a>
            </p> 
        </li>
        

        {% endfor %}
    </ul>

{% endblock %}