<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8"/>
    <title>
        {% block title %}
        <!--Titulo de cada pagina en concreto-->
        {% endblock %}
        | William Paredes
    </title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/styles.css'%}" />
</head>

<body>
    <!--Cabecera de la Pagina-->
    <header>
        <div id="logotipo">
            <!--Logo de Django-->
            <img src="{% static 'images/logo.png' %}" alt="logotipo"/>
            <h1>Sitio Web con Django</h1>
        </div>

    </header>
    <nav>
        <ul>
            <li>
                <a href="/inicio">Inicio</a>
            </li>
            <li>
                <a href="/hola-mundo">Hola Mundo</a>
            </li>
            <li>
            <a href="/pagina-pruebas">Pagina de Pruebas</a>
            </li>
            <li>
                <a href="/contacto">Contacto</a>
            </li>
    
        </ul>
    
    </nav>
    >
    <div id="content">
        <h2 class="title">Titulo Prueba</h2>
        {% block content %}
        <strong>Contenido del Bloque Original!!!</strong>
        <!--Codigo que biene de templates-->

        {% endblock %}

    </div>
    
    <footer>Master en Python &copy; William V. Paredes</footer>
</body>

</html>